h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 5vh;
}

h2 {
  font-size: 3.5vh;
}

h3 {
  font-size: 3vh;

}

body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
}

header {
}

/* Customizes Navbar */
.navbar {
  color: #fff;
  background-image: url(../img/navbar-banner.png); /* Will create the parallax effect to match department google site */
  min-height: 150px;
  background-repeat: repeat-y;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 10px;
  padding-left: 10px;
}

.navbar-toggler-icon {
  background-image: url(../img/navbar-toggler-icon.png);
}

.navbar-toggler {
  background-color: #A61C3C;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.navbar-toggler:hover {
  background-image: url(../img/navbar-toggler-icon-hover.png);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

#navbar-title {
  font-size: 6.5vh;
  display: block;
  font-family: 'Coda Caption', sans-serif;
}

#navbar-subtitle {
  font-size: 2vh;
  padding-left: 2.25rem;
}

.navbar a {
  color: #fff;
}

.navbar-nav ul li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: light;
}

.nav-link:hover {
  background-color: #212121;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.3);
}

.list-group-item:hover {
  background-color: #26408B;
}

.list-group-item.active {
  background-color: #26408B;
  color: black;
}

.list-group-item a {
  text-decoration: none;
  color:black;
}

#indexDiv {

}

.card {
  background-color: #ffff;
  box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.175) !important;
  padding: 10px;
  border: solid #A61C3C 2px;
  border-radius: 20px;
  min-height: 50vh;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}


.card:hover {
  transform: scale(1.01, 1.01) ;
}

.card-title {

}

.card-subtitle {
font-style: italic;
font-weight: light;
color: rgba(0, 0, 0, 0.5);
font-size: 0.8rem;
text-align: center;
}

.card-body {
  padding-left: 0;
}

.card-text {
  padding-left: 4px;
  font-size: .925rem;
  line-height: 1.25rem;
}

.btn, .btn-primary {
  border: none;
  background-color: #ffcc33;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  background-color: #A61C3C;
  color: white;
}

.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

#filters {
  padding-left: 10px;
  padding-top: 10px;
}

#filters button {
  font-size: 2vh;
  border-radius: 1rem;
  margin: .01rem;
  color: black;
  background-color: #fff;
  font-style: normal;
  padding: 0.3rem;
}

#filters button .active {
  background-color: #A61C3C;
  color: white;
}

#filters button:hover {
  background-color: #212121;
  color: white;
}

#filters button:active {
  background-color: #A61C3C;
  color: white;
}

.badge-secondary {
  background-color: #A61C3C;
  min-width: 75px;
  margin: 5px;
}

.badge-primary {
  background-color: #ffcc33;
  color: black;
  min-width: 75px;
  margin: 5px;
}

#QA {

}

#QA div h2{
  padding: 5px;
}

#QA div p {
  margin-bottom: 5px;
}

/* Very important, customizes archives div box which displays object results */
#holder {
  min-height: 250px;
}